div {
  text-align: center;
}

//.nav-button {
//  background-color: #168900;
//  border-color: #168900;
//  border-radius: initial;
//}

.nav-button,.nav-button::after{
  background-color: #168900;
  border:0;
  color:#ffffff;
  outline:transparent;
  position:relative;
}

.nav-button::after{
  --slice-0:inset(80% -6px 50% 0);
  --slice-1:inset(80% -6px 0 0);
  --slice-2:inset(50% -6px 30% 0);
  --slice-3:inset(10% -6px 85% 0);
  --slice-4:inset(40% -6px 43% 0);
  --slice-5:inset(80% -6px 5% 0);
  content:"轟隆隆隆";
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:linear-gradient(90deg,transparent 3%,#168900 3%,#168900 5%, #FF013C 5%);
  clip-path:var(--slice-0);
  // button lg
  height: 30px;
  padding: 8px 0;
}

.glitch-style-1::after{
  animation: 5s glitch1 infinite;
  animation-timing-function:steps(2,end);
}

.glitch-style-2::after{
  animation: 10s glitch2 infinite;
  animation-timing-function:steps(1,end);
}

.glitch-style-3::after{
  animation: 10s glitch1 infinite;
  animation-timing-function:steps(1,end);
}

.glitch-style-4::after{
  animation: 5s glitch2 infinite;
  animation-timing-function:steps(2,end);
}

@keyframes glitch1{
  75%{
    clip-path:var(--slice-1);
    transform:translate(-2px,-1px);
  }
  77.5%{
    clip-path:var(--slice-3);
    transform:translate(1px,1px);
  }
  80%{
    clip-path:var(--slice-1);
    transform:translate(-1px,1px);
  }
  82.5%{
    clip-path:var(--slice-3);
    transform:translate(0px,5px);
  }
  85%{
    clip-path:var(--slice-2);
    transform:translate(-5px,0px);
  }
  87.5%{
    clip-path:var(--slice-3);
    transform:translate(5px,0px);
  }
  90%{
    clip-path:var(--slice-4);
    transform:translate(5px,10px);
  }
  70%{
    clip-path:var(--slice-2);
    transform:translate(-1px,1px);
  }
  92.5%{
    clip-path:var(--slice-5);
    transform:translate(2px,-1px);
  }
  95%{
    clip-path:var(--slice-1);
    transform:translate(-10px,0px);
  }
  100%{
    clip-path:var(--slice-1);
    transform:translate(-1px,-1px);
  }
}


@keyframes glitch2{
  25%{
    clip-path:var(--slice-1);
    transform:translate(-2px,-1px);
  }
  27.5%{
    clip-path:var(--slice-3);
    transform:translate(1px,1px);
  }
  30%{
    clip-path:var(--slice-1);
    transform:translate(-1px,1px);
  }
  32.5%{
    clip-path:var(--slice-3);
    transform:translate(0px,5px);
  }
  35%{
    clip-path:var(--slice-2);
    transform:translate(-5px,0px);
  }
  37.5%{
    clip-path:var(--slice-3);
    transform:translate(5px,0px);
  }
  40%{
    clip-path:var(--slice-2);
    transform:translate(-1px,1px);
  }
  42.5%{
    clip-path:var(--slice-5);
    transform:translate(2px,-1px);
  }
  47.5%{
    clip-path:var(--slice-1);
    transform:translate(-10px,0px);
  }
  50%{
    clip-path:var(--slice-1);
    transform:translate(-1px,-1px);
  }
  52.5%{
    clip-path:var(--slice-0);
  }
}
